{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-tag--pink govuk-phase-banner__content__tag">
      test
    </strong>
    <span class="govuk-phase-banner__text">
      This is a test 'service' – nothing about it is active.
    </span>
  </p>
</div>

<a href="../index.html" class="govuk-back-link">back</a>


{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Create an Account</h1>
<p class="govuk-body-l">govuk-body-l</p>


{% endblock %}
